.dealer-wrapper {
  background-image: url('../../assets/svg/fondo-dealer.svg');
  /* background-color: #00953b; */
  /* background-color: green; */
  background-size: cover;
  background-position: center;
  height: 100%;
  /* background-position: right; */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.dealer-wrapper__body {
  flex: auto;
  min-height: 70vh;
  width: 100%;
}
