.product {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  width: 100%;
  flex: 0 0 calc(100% - 20px);
  margin: 10px 0;
}

.product:before {
  display: block;
  content: ' ';
  background-image: url('../../assets/svg/info_icon.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  content: ' ';
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index: 999;
}
.product:hover:before {
  opacity: 1;
}

.product:after {
  display: block;
  background-image: url('../../assets/img/logo_proplan.png');
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
  content: ' ';
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.product:hover:after {
  opacity: 1;
}

.product img {
  width: 100%;
}

.icon {
  position: absolute;
  right: -30px;
  top: -30px;
}

.product__modal {
  position: absolute;
  border: '2px solid #000';
  background-color: white;
  border: none;
  left: 0;
  right: 0;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.product__modal img {
  width: 100%;
}

.modal__title {
  color: #f7c467;
}

.modal__info {
  padding: 10px 40px 30px 40px;
}

.product__title {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

.product__description li {
  font-weight: 300;
  font-size: 13px;
}

.modal__bottom {
  margin: 0px 40px 30px 40px;
}

.modal__bottom p {
  margin: 10px auto;
  font-size: 13px;
  width: fit-content;
  color: rgb(77, 77, 77);
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .product {
    flex: 0 0 calc(40% - 10px);
    margin: 10px 20px;
  }
  .product__modal {
    width: 400px;
  }
}

@media screen and (min-width: 720px) {
  .product {
    flex: 0 0 calc(30% - 10px);
    margin: 0;
  }
}
