.progress {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.progress__data {
  margin: 0px 20px 100px 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress__data--slim {
  margin-bottom: 0;
}

.type__title {
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

.progress__data-left {
  width: 100%;
  margin-bottom: 20px;
}

.progress__data img {
  width: 100%;
}

.monthly__img {
  margin-top: 20px;
}

.progress__info {
  margin-left: 0px;
}

.progress__button {
  width: 300px;
  width: 100%;
  margin: 10px auto 0px auto;
}

.progress__quote {
  margin: 10px 0;
  color: #555;
}

.progress__quote--white {
  color: white;
  text-align: center;
  font-weight: 400;
}

.invoice-box {
  width: 70%;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.invoice-box table tr td:nth-child(3) {
  text-align: right;
}

.invoice-box table tr td:nth-child(4) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 24px;
  line-height: 45px;
  color: #333;
  font-weight: 700;
}

.title p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.details td {
  padding-bottom: 20px;
}

.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}

.invoice-box table tr.total--secondary td:nth-child(2) {
  border-top: 0;
}

.item__comment {
  width: 400px;
}

@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.rtl {
  direction: rtl;
  font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial,
    sans-serif;
}

.rtl table {
  text-align: right;
}

.rtl table tr td:nth-child(2) {
  text-align: left;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 720px) {
}
@media screen and (min-width: 1024px) {
  .progress {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom: 100px;
  }

  .progress__data {
    width: 90%;
    flex-direction: row;
  }

  .progress__data-left {
    max-width: 500px;
    margin-bottom: 0;
  }

  .progress__info {
    max-width: 700px;
    margin-left: 40px;
  }
}
