.logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout p {
  margin: 0;
  padding: 0;
  color: #fff;
}

.superpose {
  position: absolute;
  background-color: #2675ba;
  padding-top: 5px;
  margin-left: 10px;
  border-radius: 10px;
  /* bottom: -30px; */
}
