.header-dealer {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.header-dealer img {
  max-width: 80%;
}

.header-info {
  display: none;
}

.header-info h2 {
  color: white;
  margin: 5px 0;
}

.header-info p {
  color: white;
  margin: 3px 0;
  opacity: 0.8;
}

.dealer-store__button {
  /* background: #f7c467; */
  /* background-color: white; */
  background-color: #2675ba;
  border: none;
  width: 100px;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.dealer-store__button--confirm {
  /* width: 150px; */
  /* background: #f7c467; */
  /* background-color: white; */
  background-color: #2675ba;
  border: none;
  width: 140px;
  /* padding: 10px 20px; */
  padding: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

@media screen and (min-width: 420px) {
}

@media screen and (min-width: 720px) {
  .header-dealer {
    justify-content: space-between;
    align-items: center;
  }

  .header-dealer img {
    margin: 0px 20px;
    width: 175px;
  }

  .header-dealer .header-info {
    display: block;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
