.header {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.header img {
  max-width: 80%;
}

.header h2 {
  display: none;
  color: white;
}

@media screen and (min-width: 420px) {
}

@media screen and (min-width: 720px) {
  .header {
    justify-content: space-between;
    align-items: center;
  }

  .header img {
    padding: 20px 40px;
    margin: 0px 20px;
    width: 200px;
  }

  .header h2 {
    display: block;
    margin-right: 100px;
  }
}
