.footer {
  /* height: 50px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__line {
  background-color: red;
  width: 90%;
  height: 8px;
}

.footer__logo {
  width: 50%;
  /* background-color: bisque; */
}

@media screen and (min-width: 420px) {
  .footer__logo {
    width: 250px;
  }
}
