.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}

.footer__line {
  background-color: red;
  width: 90%;
  height: 8px;
}

.footer__logo {
  width: 50%;
}

@media screen and (min-width: 420px) {
  .footer__logo {
    width: 250px;
  }
}
