.dealer {
  margin-top: -50px;
  display: flex;
  justify-content: center;
}

.card--dealer {
  background-color: transparent;
}

.dealer-awards {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.award-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 20px 10px;

  background-color: white;
  padding: 20px 20px;
  border-radius: 10px;
}

.award-table {
  margin: 10px 0;
  width: 100%;
}

.award-container h3 {
  font-weight: 500;
  margin: 0;
}

.award-table tr {
  display: flex;
  align-items: center;
  margin: 10px 0;
  justify-content: space-between;
  color: #333;
}

.award-table tr td:nth-child(2) {
  margin-left: 50px;
}

.award-visual {
  margin: 10px 0;
}

.award-visual__img {
  position: relative;
}

.award-visual__img img {
  border-radius: 10px;
}

.award-visual__hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.award-visual__hover--locked {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5) 63%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.award-visual__hover svg {
  position: absolute;
  top: -10px;
  right: 0px;
}

.award-visual .progress__bar {
  width: 100%;
}

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 1024px) {
  .progress__info {
    max-width: initial;
  }
}
